body {
  background-image: url('https://wallpaperaccess.com/full/138588.jpg');
}

h1 {
  font-family: monospace;
  color: beige;
  margin-left: 0px;
}
h4 {
  font-family: century gothic;
  color: white;
  margin-left: 20px;
}

td{
  font-family: Candara;
  color: white;
  margin-left: 20px;
} 